{% if squirrel_list %}
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th colspan=2 >Latitude </th>
                <th colspan=2 >Longitude </th>
                <th colspan=2 >Unique_Squirrel_ID </th>
                <th colspan=2 >Shift </th>
                <th colspan=2 >Date </th>
                <th colspan=2 >Age </th>
                <th colspan=2 >Primary_Fur_Color </th>
                <th colspan=2 >Location </th>
                <th colspan=2 >Specific_Location </th>
            </tr>
        </thead>
        <tbody >
        
        {% for squirrels in squirrel_list %}
            <tr>
                <td colspan=2 >{{ squirrels.Latitude }}</td>
                <td colspan=2 >{{ squirrels.Longitude }}</td>
                <td colspan=2 >
			<a href="/sightings/{{ squirrels.Unique_Squirrel_ID }}/">{{ squirrels.Unique_Squirrel_ID }}(Edit)</a></td>
                <td colspan=2 >{{ squirrels.Shift }}</td>
                <td colspan=2 >{{ squirrels.Date }}</td>
                <td colspan=2 >{{ squirrels.Age }}</td>
                <td colspan=2 >{{ squirrels.Primary_Fur_Color }}</td>
                <td colspan=2 >{{ squirrels.Location }}</td>
                <td colspan=2 >{{ squirrels.Specific_Location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <p>No sightings in there.</p>
{% endif %}
