<html>
<h1>Stats<h1/>
        <table>
                <tr>
                        <td></td>
                        <td>Average</td>
                        <td>Max</td>
                        <td>Min</td>
                </tr>
                <tr>
                        <td>Longitude</td>
                        <td>{{ Mean_Longitude }}</td>
                        <td>{{ Max_Longitude }}</td>
                        <td>{{ Min_Longitude }}</td>
                </tr>
                <tr>
                        <td>Latitude</td>
                        <td>{{ Mean_Latitude }}</td>
                        <td>{{ Max_Latitude }}</td>
                        <td>{{ Min_Latitude }}</td>
                </tr>
        </table>
        <br/>
        <table>
                <tr>
                        <td>Running Rate</td>
                </tr>
                <tr>
                        <td>{{ Running_Rate }}</td>
                </tr>
        </table>
        <table>
                <tr>
                        <td>Average Latitude</td>
                        <td>Average Longitude</td>
                </tr>
                <tr>
                        <td>{{ average_latitude }}</td>
                        <td>{{ average_longitude }}</td>
                </tr>
        </table>
        <br/>
	   <table>
                <tr>
                        <td>Age Mode</td>
                        <td>Count</td>
                </tr>
                <tr>
                        <td>{{ age_mode }}</td>
                        <td>{{ age_count }}</td>
                </tr>
        </table>
        <br/>
        <table>
                <tr>
                        <td>Primary Fur Color Mode</td>
                        <td>Count</td>
                </tr>
                <tr>
                        <td>{{ color_mode }}</td>
                        <td>{{ color_count }}</td>
                </tr>
        </table>
</html>

